<!DOCTYPE html>
<html>
<head>
    <title>Twitter Graph Friends</title>

    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <style>
        body {
            margin-left: 40%;
            margin-top: 50px;
        }

        p {
            margin-bottom: 50px
        }
    </style>
</head>
<body>

<p><a class="waves-effect waves-light btn", href="{% url 'netjson' %}">Download network in JSON format</a></p>


<p><a class="waves-effect waves-light btn", href="{% url 'netgdf' %}">Download network in GDF format</a></p>

<p><a class="waves-effect waves-light btn", href="{% url 'netnet' %}">Download network in NET format</a></p>

<p><a class="waves-effect waves-light btn", href="{% url 'netgml' %}">Download network in GML format</a></p>

<form method="POST" class="whole-form">{% csrf_token %}
        {{ whole.as_p }}
        <input type="checkbox" class="filled-in" id="filled-in-box" />
        <label for="filled-in-box">Whole net?</label>
</form>


</body>
</html>
